*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
}

i{
    color: #ed1b2e;
}

label{
    font-size: 1.1em;
}

small>p{
    color: #fff;
    margin: 0;
}